Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-*): datakit - vault resources [KM-1666] (#2530)
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/VaultSecretPicker.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useVaultForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorContent.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/SidePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/index.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-vaults/src/components/VaultSecretPicker.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

refactor(entities-plugins): free form store
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsRecordField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/PropertiesField.vue
  packages/entities/entities-plugins/src/components/free-form/RequestCallout/CalloutForm.vue
  packages/entities/entities-plugins/src/components/free-form/RequestCallout/CalloutsForm.vue
  packages/entities/entities-plugins/src/components/free-form/ServiceProtection/RedisField.vue
  packages/entities/entities-plugins/src/components/free-form/ServiceProtection/RequestLimitsForm.vue
  packages/entities/entities-plugins/src/components/free-form/shared/AdvancedFields.vue
  packages/entities/entities-plugins/src/components/free-form/shared/ArrayField.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EnumField.vue
  packages/entities/entities-plugins/src/components/free-form/shared/FieldRenderer.vue
  packages/entities/entities-plugins/src/components/free-form/shared/Form.vue
  packages/entities/entities-plugins/src/components/free-form/shared/ObjectField.vue
  packages/entities/entities-plugins/src/components/free-form/shared/RadioField.vue
  packages/entities/entities-plugins/src/components/free-form/shared/RedisSelector.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/shared/RedisSelector.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities): skip validate before submit certificates form (#2562)
  packages/entities/entities-certificates/src/ca-certificates-endpoints.ts
  packages/entities/entities-certificates/src/certificates-endpoints.ts
  packages/entities/entities-certificates/src/components/CACertificateForm.cy.ts
  packages/entities/entities-certificates/src/components/CACertificateForm.vue
  packages/entities/entities-certificates/src/components/CertificateForm.cy.ts
  packages/entities/entities-certificates/src/components/CertificateForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): hook datakit branch form into store serialization
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch node schema and UI scaffolding
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): persist datakit branch groups and UI data
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): extract datakit branch group manager
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): polish datakit branch group node visuals
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): integrate datakit branch groups into flow runtime
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): render datakit branch groups in flow canvas
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): expose datakit branch handles and store actions
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit node visuals and badge styling
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodeBadge.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): default datakit branch form selections
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): extend datakit compat schema for branch nodes
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): streamline datakit branch store wiring
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): prune datakit branch scaffolding
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): enhance datakit branch target multiselect
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch conflict guards
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): consolidate datakit branch helpers
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): document and refine datakit branch flow
  NEXT_REFACTOR_STEPS.md
  RACE_CONDITION_ANALYSIS.md
  SIMPLICITY_REFACTOR.md
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch member validation and conflicts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): extract datakit branch node form composable
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): streamline datakit node dragging
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): clean datakit branch layout interactions
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch layout runtime
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): rename PendingGroupLayout to GroupLayout and remove unused constants
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): update branch layout constants and improve branch change handling
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): deselect selected node when clicking group nodes
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): ensure group layout changes are committed when applied
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix node z-index calculation
  NEXT_REFACTOR_STEPS.md
  RACE_CONDITION_ANALYSIS.md
  SIMPLICITY_REFACTOR.md
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): simplify code and optimize EnhancedInput to prevent unnecessary updates
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add isNodeType function and update generateNodeName logic
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): reorganize graph-related functions and improve validation logic
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/graph.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/validation.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): enhance node and group handle styling and layout calculations
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): remove unused isConfigType import from helpers
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): make datakit branch handles read-only
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui
