Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

fix: test selector
  packages/core/app-layout/src/components/sidebar/AppSidebar.cy.ts
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

feat: emit new bounds when map zoomed/panned
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.cy.ts
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/utils/debounce.ts
  packages/analytics/analytics-geo-map/src/utils/index.ts
Owners: @Kong/team-data, @Kong/team-core-ui

docs(sidebar): group config
  packages/core/app-layout/docs/sidebar.md
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: address comment
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.cy.ts
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix: dont generate links if no advanced analytics
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.spec.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
  packages/analytics/dashboard-renderer/src/stores/tests/setupPiniaTestStore.ts
Owners: @Kong/team-data

fix(entities-plugins): free-form scope is not correctly initialized
  packages/entities/entities-plugins/src/components/free-form/shared/layout/StandardLayout.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): free-form scope is not correctly initialized (#2441)
  packages/entities/entities-plugins/src/components/free-form/shared/layout/StandardLayout.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): schema registry data transform [KM-1698]
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): schema registry data transform [KM-1698] (#2443)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

refactor(entities-plugins): datakit - simplify skip validation logic
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/validation/useFormValidation.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorContent.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormExit.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormProperty.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add engine prop to plugin form
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/components/PluginForm.vue
  packages/entities/entities-plugins/src/composables/useSchemas.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): datakit - simplify skip validation logic (#2444)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/validation/useFormValidation.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorContent.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormExit.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormProperty.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: pr feedback
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: pr feedback
  packages/core/app-layout/docs/sidebar.md
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

docs(sidebar): group key
  packages/core/app-layout/docs/sidebar.md
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

feat: emit new bounds when map zoomed/panned (#2427)
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.cy.ts
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/utils/debounce.ts
  packages/analytics/analytics-geo-map/src/utils/index.ts
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(dashboard-renderer): allow csv export by default [MA-4289]
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

feat(entities-plugins): datakit control icons/tooltips
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/AutoLayoutIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/FitIcon.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore: feedback from PR
  packages/core/documentation/src/components/DocumentationDisplay.cy.ts
  packages/core/documentation/src/components/DocumentationDisplay.vue
Owners: @Kong/team-core-ui, @Kong/team-konnectx-platform-fe, @Kong/team-devx

feat(documentation): show discard changes warning and allow revert
  cypress.config.ts
  packages/core/documentation/src/components/DiscardChangesPrompt.vue
  packages/core/documentation/src/components/DocumentationDisplay.cy.ts
  packages/core/documentation/src/components/DocumentationDisplay.vue
  packages/core/documentation/src/locales/en.json
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-konnectx-platform-fe, @Kong/team-devx

fix(dashboard-renderer): allow csv export by default [MA-4289] (#2447)
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: dont generate links if no advanced analytics (#2440)
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.spec.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
  packages/analytics/dashboard-renderer/src/stores/tests/setupPiniaTestStore.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: update timeseries zoom prop behaviour
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
Owners: @Kong/team-data

fix: feekback
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add engine prop to plugin form (#2254)
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/components/PluginForm.vue
  packages/entities/entities-plugins/src/composables/useSchemas.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(entities-plugins): clean up unused isEnterprise field
  packages/entities/entities-plugins/src/definitions/metadata.ts
  packages/entities/entities-plugins/src/types/plugin.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit control icons/tooltips (#2448)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/AutoLayoutIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/FitIcon.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(entities-plugins): clean up unused isEnterprise field (#2449)
  packages/entities/entities-plugins/src/definitions/metadata.ts
  packages/entities/entities-plugins/src/types/plugin.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): freeform - number enum field
  packages/entities/entities-plugins/fixtures/schemas/free-form-mocking.ts
  packages/entities/entities-plugins/src/components/free-form/shared/utils.ts
Owners: @Kong/team-km, @Kong/team-core-ui

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe
