Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): remove duplicate error state when forbidden [MA-4332] (#2523)
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/utils/queryError.spec.ts
  packages/analytics/analytics-chart/src/utils/queryError.ts
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): update the font-family in geo map tooltip [MA-4081]
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix(analytics): update the font-family in geo map tooltip [MA-4081] (#2534)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: analytics chart duplicate threshold issue
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/sandbox/styles/charts-sandbox.scss
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @Kong/team-data

fix: analytics chart duplicate threshold issue (#2535)
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/sandbox/styles/charts-sandbox.scss
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): bump the limit override for geo map charts [MA-3698]
  packages/analytics/dashboard-renderer/src/components/GeoMapRenderer.vue
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

feat: increase the CSV export limit to 1000 [MA-4360]
  packages/analytics/analytics-utilities/src/constants.ts
Owners: @Kong/team-data

fix: add limitOverride prop to QueryDataProvider
  packages/analytics/dashboard-renderer/src/components/GeoMapRenderer.vue
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

test: add limit override test for choropleth chart
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
Owners: @Kong/team-data

fix: remove unnecessary prop
  packages/analytics/dashboard-renderer/src/components/GeoMapRenderer.vue
Owners: @Kong/team-data

fix(analytics): bump the limit override for geo map charts [MA-3698] (#2536)
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/GeoMapRenderer.vue
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(analytics): clean up analytics sandboxes
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/dashboard-renderer/sandbox/pages/EditableDashboardDemo.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix(analytics): conditionally truncate country metrics in map [MA-4125]
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.cy.ts
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

feat: update sandbox with truncation prop
  packages/analytics/analytics-geo-map/sandbox/App.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix(entities-routes): update links to external in routelist [TDX-6793]"
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: use router
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: update logic
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: add truncatedMetric prop to geo map renderer
  packages/analytics/dashboard-renderer/src/components/GeoMapRenderer.vue
Owners: @Kong/team-data

chore: remove unnecessary typecast
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: update variable
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

wip
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/CanvasGroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/CanvasLeafNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): delete empty `basic` before submitting (#2159)
  packages/entities/entities-plugins/src/composables/useSchemas.ts
  packages/entities/entities-plugins/src/definitions/schemas/Confluent.ts
  packages/entities/entities-plugins/src/definitions/schemas/ConfluentConsume.ts
  packages/entities/entities-plugins/src/definitions/schemas/KafkaConsume.ts
  packages/entities/entities-plugins/src/definitions/schemas/KafkaLog.ts
  packages/entities/entities-plugins/src/definitions/schemas/KafkaUpstream.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): kafka-* set confluent to null if is default value [KM-1616] (#2365)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): schema registry data transform [KM-1698] (#2443)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): add empty confluent case (#2466)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): bump
  packages/entities/entities-plugins/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): kafka-* set confluent to null if is default value [KM-1616] (#2365)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): schema registry data transform [KM-1698] (#2443)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): add empty confluent case (#2466)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): confluent auth mode is undefined [KM-1824] (#2529)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): bump
  packages/entities/entities-plugins/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: revert rowClick router
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore: remove unnecessary typecast
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-routes): update button links to external in routelist [TDX-6793]" (#2538)
  packages/entities/entities-routes/src/components/RouteList.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe
