Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

refactor(entities-plugins): simplify getBoundingRect
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): mask key field in key auth mock schema used by consumer
  packages/entities/entities-plugins/src/definitions/schemas/credentials/mockedKeyAuthSchema.json
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): update type definitions and simplify drag handling logic
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchDrop.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): simplify free form shared state management
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
  packages/entities/entities-plugins/src/components/free-form/shared/FieldRenderer.vue
  packages/entities/entities-plugins/src/components/free-form/shared/Form.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): simplify group node
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-groups.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): mask key field in key auth schema
  packages/entities/entities-plugins/src/definitions/schemas/KeyAuth.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useResourcesSchema.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationFormModal.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationSelector.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationSelector.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: type err
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationSelector.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-*): datakit - resources cache [KM-1859] (#2582)
  packages/core/forms/src/components/RedisConfigSelect.vue
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useResourcesSchema.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/components/free-form/shared/RedisSelector.vue
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-plugins/src/types/plugins/free-form.ts
  packages/entities/entities-plugins/vite.config.ts
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationFormModal.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationSelector.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationSelector.ts
  packages/entities/entities-redis-configurations/src/index.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/partials-endpoints.ts
  packages/entities/entities-redis-configurations/vite.config.ts
  pnpm-lock.yaml
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @LukeSwierlik, @QueaT-kong

fix(entities-plugins): mask key field in key auth mock schema used by consumer (#2594)
  packages/entities/entities-plugins/src/definitions/schemas/KeyAuth.ts
  packages/entities/entities-plugins/src/definitions/schemas/credentials/mockedKeyAuthSchema.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-shared): use margin-inline-start to fix action buttons margin when rtl
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): simplify free form shared state management
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
  packages/entities/entities-plugins/src/components/free-form/shared/FieldRenderer.vue
  packages/entities/entities-plugins/src/components/free-form/shared/Form.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: wip
  packages/entities/entities-plugins/src/components/free-form/shared/Form.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore: add missing dependency
  packages/analytics/analytics-geo-map/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore: add missing dependency (#2597)
  packages/analytics/analytics-geo-map/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(lefthook): make linters only run against changed files
  lefthook.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

test(entities-plugins): add reactivity tests for free form
  packages/entities/entities-plugins/src/components/free-form/test/free-form.cy.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-shared): use margin-inline-start to fix action buttons margin when rtl (#2596)
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/CHANGELOG.md
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/CHANGELOG.md
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/CHANGELOG.md
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/CHANGELOG.md
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/CHANGELOG.md
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/CHANGELOG.md
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km, @LukeSwierlik, @QueaT-kong

fix: test
  packages/entities/entities-plugins/src/components/free-form/shared/Form.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): address pr comments
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchDrop.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit drag into group (#2592)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchDrop.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/ConflictModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-groups.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(lefthook): make linters only run against changed files (#2598)
  lefthook.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

chore: testing some stuff
  packages/core/monaco-editor-ui/package.json
  packages/core/monaco-editor-ui/sandbox/App.vue
  packages/core/monaco-editor-ui/src/components/MonacoEditor.vue
  packages/core/monaco-editor-ui/src/components/MonacoEditorToolbar.vue
  packages/core/monaco-editor-ui/src/components/ToolbarActionButton.vue
  packages/core/monaco-editor-ui/src/composables/useMonacoEditor.ts
  packages/core/monaco-editor-ui/src/types/index.ts
  packages/core/monaco-editor-ui/src/utils/actions/index.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe
