Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix(entities-plugins): freeform - number enum field (#2450)
  packages/entities/entities-plugins/fixtures/schemas/free-form-mocking.ts
  packages/entities/entities-plugins/src/components/free-form/shared/utils.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

refactor(entities-plugins): datakit use proper icons
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/AutoLayoutIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): datakit use proper icons (#2451)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/AutoLayoutIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit - unexpected disabled state
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsMapField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit - unexpected disabled state (#2452)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsMapField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit node duplicate
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useHotkeys.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit node duplicate (#2445)
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useHotkeys.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: pr feedback
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: pr feedback
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

feat(analytics): increase number of records exported for csv [MA-4298]
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/constants.ts
Owners: @Kong/team-data

fix: default isloading to false
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

feat(documentation): show discard changes warning and allow revert [TDX-6534] (#2432)
  cypress.config.ts
  packages/core/documentation/src/components/DiscardChangesPrompt.vue
  packages/core/documentation/src/components/DocumentationDisplay.cy.ts
  packages/core/documentation/src/components/DocumentationDisplay.vue
  packages/core/documentation/src/locales/en.json
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-konnectx-platform-fe, @Kong/team-devx

chore(release): publish [skip ci]
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
Owners: @Kong/team-core-ui, @Kong/team-konnectx-platform-fe, @Kong/team-devx, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data

fix: add component test cases for interactivity
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
  packages/analytics/analytics-chart/src/components/ZoomActions.vue
  packages/analytics/analytics-chart/src/types/zoom-action-item.ts
Owners: @Kong/team-data

fix: some analytics chart test refactoring
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
Owners: @Kong/team-data

fix: use synced time range to request export records
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: clean up imports and fix overloaded type
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: allow view requests and explore independent of zoom (#2454)
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
  packages/analytics/analytics-chart/src/components/ZoomActions.vue
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/analytics-chart/src/types/zoom-action-item.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: initialize zoom action links
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.spec.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

fix(entities-plugins): datakit - exit status should be 200 - 599
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormExit.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(config-card-item): add iso date string rendering support
  packages/entities/entities-shared/fixtures/mockData.ts
  packages/entities/entities-shared/sandbox/pages/ConfigCardItemPage.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardItem.cy.ts
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardItem.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(config-card-item): add iso date string rendering support (#2457)
  packages/entities/entities-shared/fixtures/mockData.ts
  packages/entities/entities-shared/sandbox/pages/ConfigCardItemPage.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardItem.cy.ts
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardItem.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/CHANGELOG.md
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/CHANGELOG.md
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/CHANGELOG.md
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/CHANGELOG.md
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/CHANGELOG.md
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/CHANGELOG.md
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km, @LukeSwierlik, @QueaT-kong

fix(entities-plugins): datakit - exit status should be 200 - 599 (#2458)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormExit.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit multiple fixes
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

feat(entities-plugins): datakit multiple fixes (#2459)
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

feat(entities-plugins): add a before-custom-tab-content slot
  packages/entities/entities-plugins/src/components/PluginSelect.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(sidenav): emit collapse events
  packages/core/app-layout/docs/sidebar.md
  packages/core/app-layout/src/components/AppLayout.vue
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: pr feedback
  packages/core/app-layout/package.json
  packages/core/app-layout/sandbox/pages/SidebarPage.vue
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @adamdehaven, @jillztom

fix: use native solution
  packages/core/app-layout/package.json
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @adamdehaven, @jillztom

fix: lockfile
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx

fix: initialize zoom action links (#2455)
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.spec.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: ux tweaks
  packages/analytics/analytics-chart/src/components/ZoomActions.vue
  packages/analytics/analytics-chart/src/components/ZoomTimerange.vue
Owners: @Kong/team-data
