Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): remove duplicate error state when forbidden [MA-4332]
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

fix: remove icon-variant in favor of icon template
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

fix: move bad request message into details
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/utils/queryError.ts
Owners: @Kong/team-data

fix: update tests
  packages/analytics/analytics-chart/src/utils/queryError.spec.ts
Owners: @Kong/team-data

ci: renovate bot name change [TDX-6748]
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

chore(entities-plugins/forms): retire former auto suggest
  packages/core/forms/src/components/fields/FieldArray.vue
  packages/core/forms/src/components/fields/FieldAutoSuggest.vue
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggest.cy.ts
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggest.spec.js
  packages/core/forms/src/utils/fieldsLoader.ts
  packages/entities/entities-plugins/src/components/PluginForm.cy.ts
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

fix(*): increase character limit for textarea [KM-1819]
  packages/core/forms/src/components/fields/FieldTextArea.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

fix(*): increase character limit for textarea [KM-1819] (#2527)
  packages/core/forms/src/components/fields/FieldTextArea.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

chore(release): publish [skip ci]
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @LukeSwierlik, @QueaT-kong

feat(entities-plugins): datakit - resources vault [KM-1667]
  .vscode/settings.json
  packages/entities/entities-plugins/sandbox/pages/PluginFormPage.vue
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/ValueIndicator.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/constants/index.ts
  packages/entities/entities-plugins/src/types/plugins/free-form.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-km, @Kong/team-core-ui

feat: draw threshold intersection brush
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: address comments
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @Kong/team-data

fix: address comments
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/thresholdPlugin.spec.ts
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
Owners: @Kong/team-data

fix: handle change to threshold
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @Kong/team-data

feat(entities-plugins): datakit - supprot resources data [KM-1667]
  .vscode/settings.json
  packages/entities/entities-plugins/sandbox/pages/PluginFormPage.vue
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/constants/index.ts
  packages/entities/entities-plugins/src/types/plugins/free-form.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore: add title
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardDisplay.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entity-shared): add policy section in base config card
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore: revert .vscode changes
  .vscode/settings.json
Owners: @adamdehaven, @ValeryG, @jillztom

feat(entities-plugins): datakit - support resources foundations (#2526)
  packages/entities/entities-plugins/sandbox/pages/PluginFormPage.vue
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/constants/index.ts
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-plugins/src/types/plugins/free-form.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): confluent auth mode is undefined [KM-1824]
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): confluent auth mode is undefined [KM-1824] (#2529)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(entities-plugins/forms): retire former auto suggest
  packages/core/forms/src/components/fields/FieldArray.vue
  packages/core/forms/src/components/fields/FieldAutoSuggest.vue
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggest.cy.ts
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggest.spec.js
  packages/core/forms/src/utils/fieldsLoader.ts
  packages/entities/entities-plugins/src/components/PluginForm.cy.ts
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

feat(forms): restore the former auto suggest by renaming to `legacy` to fix downstream app
  packages/core/forms/src/components/fields/FieldArray.vue
  packages/core/forms/src/components/fields/FieldAutoSuggestLegacy.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggestLegacy.spec.js
  packages/core/forms/src/utils/fieldsLoader.ts
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

feat(entities-shared): add policy section in config card (#2502)
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardDisplay.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/locales/en.json
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins/forms): retire former auto suggest (#2517)
  packages/core/forms/src/components/fields/FieldArray.vue
  packages/core/forms/src/components/fields/FieldAutoSuggest.vue
  packages/core/forms/src/components/fields/FieldAutoSuggestLegacy.vue
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggest.cy.ts
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggestLegacy.spec.js
  packages/core/forms/src/utils/fieldsLoader.ts
  packages/entities/entities-plugins/src/components/PluginForm.cy.ts
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/CHANGELOG.md
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/CHANGELOG.md
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/CHANGELOG.md
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/CHANGELOG.md
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/CHANGELOG.md
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/CHANGELOG.md
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km, @LukeSwierlik, @QueaT-kong

feat: datakit vault panel
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorContent.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/SidePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultSecretPicker.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/index.ts
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-vaults/src/components/VaultSecretPicker.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat: draw threshold intersection brush (#2524)
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/thresholdPlugin.spec.ts
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(app-sidebar): margin css
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix(app-sidebar): margin css (#2531)
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/app-layout/CHANGELOG.md
  packages/core/app-layout/package.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(analytics): clean up analytics sandboxes
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/dashboard-renderer/sandbox/pages/EditableDashboardDemo.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix(analytics): change colors of geo map [MA-4195]
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix(analytics): change colors of geo map [MA-4195] (#2533)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui
