Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit - value indicator
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/ValueIndicator.vue
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): enhance node and group handle styling and layout calculations
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): update branch layout constants and improve branch change handling
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-vaults): mask token and app role seceret id fields in vault page
  packages/entities/entities-vaults/src/components/VaultForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-vaults): mask token and app role seceret id fields in vault page (#2545)
  packages/entities/entities-vaults/src/components/VaultForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): change the types of secrest of mock schema for credential
  packages/entities/entities-plugins/src/definitions/schemas/credentials/mockedHmacAuthSchema.json
  packages/entities/entities-plugins/src/definitions/schemas/credentials/mockedJwtSchema.json
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): reorganize graph-related functions and improve validation logic
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/graph.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/validation.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): ensure group layout changes are committed when applied
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): deselect selected node when clicking group nodes
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): change the types of secrest of mock schema for credential (#2546)
  packages/entities/entities-plugins/src/definitions/schemas/credentials/mockedHmacAuthSchema.json
  packages/entities/entities-plugins/src/definitions/schemas/credentials/mockedJwtSchema.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(stylelint): update stylelint validation in vscode to include vue and scss
  .vscode/settings.json
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): kafka-* set confluent to null if is default value [KM-1616] (#2365)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): schema registry data transform [KM-1698] (#2443)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): add empty confluent case (#2466)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): confluent auth mode is undefined [KM-1824] (#2529)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): bump to 9.28.6
  packages/entities/entities-plugins/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: update map tooltip style
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/components/MapTooltip.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix: update map tooltip style (#2550)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/components/MapTooltip.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

refactor(entities-plugins): simplify code and optimize EnhancedInput to prevent unnecessary updates
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(stylelint): update stylelint validation in vscode to include vue and scss (#2548)
  .vscode/settings.json
Owners: @adamdehaven, @ValeryG, @jillztom

feat(entities-plugins): datakit - m2 compat schema
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: adjust padding in handle
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add isNodeType function and update generateNodeName logic
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit - m2 compat schema (#2551)
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): solace upstream override
  packages/entities/entities-plugins/src/composables/useSchemas.ts
  packages/entities/entities-plugins/src/definitions/schemas/SolaceUpstream.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/types/plugins/solace-upstream.d.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): solace upstream override (#2554)
  packages/entities/entities-plugins/src/composables/useSchemas.ts
  packages/entities/entities-plugins/src/definitions/schemas/SolaceUpstream.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/types/plugins/solace-upstream.d.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit layered auto layout
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: vertical line plugin supports basic link brushing for sparklines
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.ts
Owners: @Kong/team-data

feat: sparklines sync without relying on parent manipulation
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/composables/index.ts
  packages/analytics/analytics-chart/src/composables/useSparklineSync.ts
Owners: @Kong/team-data

fix: map legend improvements
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix(datakit): datakit - remove M2 compat schema
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: type check
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(datakit): datakit - remove M2 compat schema (#2557)
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities): skip validate before submit sni form
  packages/entities/entities-snis/src/components/SniForm.cy.ts
  packages/entities/entities-snis/src/components/SniForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui
