Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit - rewrite history ops of confirmation (#2504)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(entities-plugins): remove console.debug calls
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): clean up TODO comments
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): eslint
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): fast paths
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): eslint
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(analytics): remove mentions of iso_code [MA-3448]
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-geo-map/src/utils/explore-to-country-metrics.spec.ts
  packages/analytics/analytics-geo-map/src/utils/explore-to-country-metrics.ts
  packages/analytics/analytics-utilities/src/types/explore/advanced.ts
  packages/analytics/analytics-utilities/src/types/explore/requests.ts
  packages/analytics/dashboard-renderer/sandbox/pages/EditableDashboardDemo.vue
  packages/analytics/dashboard-renderer/sandbox/sandbox-query-provider.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix: require ctrl/cmnd + scroll to zoom the map by default
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/locales/en.json
Owners: @Kong/team-data, @Kong/team-core-ui

fix: require ctrl/cmnd + scroll to zoom the map by default (#2507)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/locales/en.json
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: improve plugin performance
  packages/analytics/analytics-chart/src/components/chart-plugins/DragSelectPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @Kong/team-data

chore(entities-plugins): datakit M1 post-GA clean up (#2505)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit incorrect fitView calls on DND and duplicate (#2503)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(entities-plugins): datakit use standard icons
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/error-boundary/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/BranchIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/CachedIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/FitIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

chore(entities-plugins): datakit use standard icons (#2509)
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/error-boundary/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/BranchIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/CachedIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/FitIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

fix(entities-plugins): datakit do not handle pending autoLayout and fitView in multiple places
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): remove unsupported scoping fields in detail view
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): eslint and import order
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): simplify
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): remove unsupported scoping fields in detail view (#2511)
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit - plugin detail page [KM-1464]
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardDisplay.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: export country codes with names
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
  packages/analytics/analytics-utilities/src/types/country-codes.ts
Owners: @Kong/team-data

fix: improve plugin performance (#2508)
  packages/analytics/analytics-chart/src/components/chart-plugins/DragSelectPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: pr feedback
  packages/core/app-layout/src/components/sidebar/SidebarItem.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore(analytics): remove mentions of iso_code [MA-3448] (#2506)
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-geo-map/src/utils/explore-to-country-metrics.spec.ts
  packages/analytics/analytics-geo-map/src/utils/explore-to-country-metrics.ts
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
  packages/analytics/analytics-utilities/src/types/country-codes.ts
  packages/analytics/analytics-utilities/src/types/explore/advanced.ts
  packages/analytics/analytics-utilities/src/types/explore/requests.ts
  packages/analytics/dashboard-renderer/sandbox/pages/EditableDashboardDemo.vue
  packages/analytics/dashboard-renderer/sandbox/sandbox-query-provider.ts
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: pr feedback
  packages/core/app-layout/src/components/sidebar/SidebarItem.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

feat(sidebar): add badge slot [khcp-17791] (#2501)
  packages/core/app-layout/sandbox/pages/SidebarPage.vue
  packages/core/app-layout/src/components/AppLayout.vue
  packages/core/app-layout/src/components/sidebar/AppSidebar.cy.ts
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
  packages/core/app-layout/src/components/sidebar/SidebarItem.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/app-layout/CHANGELOG.md
  packages/core/app-layout/package.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: basic sparkline chart
  packages/analytics/analytics-chart/sandbox/index.ts
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.cy.ts
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/index.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.ts
Owners: @Kong/team-data

feat: add tooltip interaction to sparkline
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
Owners: @Kong/team-data

feat(analytics): add country name lookup and swap for labels [MA-4083]
  packages/analytics/analytics-chart/src/composables/useExploreResultToDatasets.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimeDatasets.ts
  packages/analytics/analytics-utilities/src/utils/GeoLookup.ts
  packages/analytics/analytics-utilities/src/utils/index.ts
Owners: @Kong/team-data

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: box sizing
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
Owners: @Kong/team-km, @Kong/team-core-ui
