Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/ValueIndicator.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities): also remove validate endpoints in snis
  packages/entities/entities-snis/src/snis-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(vscode): add i18n-ally extension
  .vscode/extensions.json
  .vscode/settings.json
Owners: @adamdehaven, @ValeryG, @jillztom

feat: increase the CSV export limit to 1000 [MA-4360]
  packages/analytics/analytics-utilities/src/constants.ts
Owners: @Kong/team-data

fix: map legend improvements (#2556)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): confluent auth mode is undefined [KM-1824]
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): v9.93.4
  packages/entities/entities-plugins/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities): skip validate before submit certificates form
  packages/entities/entities-certificates/src/ca-certificates-endpoints.ts
  packages/entities/entities-certificates/src/certificates-endpoints.ts
  packages/entities/entities-certificates/src/components/CACertificateForm.cy.ts
  packages/entities/entities-certificates/src/components/CACertificateForm.vue
  packages/entities/entities-certificates/src/components/CertificateForm.cy.ts
  packages/entities/entities-certificates/src/components/CertificateForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities): skip validate before submit plugin form
  packages/entities/entities-plugins/src/components/PluginForm.cy.ts
  packages/entities/entities-plugins/src/components/PluginForm.vue
  packages/entities/entities-plugins/src/plugins-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit - protect undefined config
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit - protect undefined config (#2564)
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): add more timeframe keys
  packages/analytics/analytics-utilities/src/types/timeframe-keys.ts
Owners: @Kong/team-data

chore: revert
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

chore: update renovate config
  renovate.json
Owners: @adamdehaven, @ValeryG, @jillztom

chore: update renovate config (#2525)
  renovate.json
Owners: @adamdehaven, @ValeryG, @jillztom

fix: remove country_code from wildcard dimensions
  packages/analytics/analytics-utilities/src/types/explore/requests.ts
Owners: @Kong/team-data

fix: remove country_code from wildcard dimensions (#2566)
  packages/analytics/analytics-utilities/src/types/explore/requests.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: properly translate metric unit
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix: properly translate metric unit (#2567)
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: more adjust
  packages/analytics/analytics-utilities/src/timeframes.ts
  packages/analytics/analytics-utilities/src/types/explore/common.ts
Owners: @Kong/team-data

feat: fix
  packages/analytics/analytics-utilities/src/timeframes.ts
  packages/analytics/analytics-utilities/src/types/explore/common.ts
  packages/analytics/analytics-utilities/src/types/timeframe-keys.ts
Owners: @Kong/team-data

fix: timeframe lookup
  packages/analytics/analytics-utilities/src/timeframes.ts
Owners: @Kong/team-data

feat: sparklines sync without relying on parent manipulation
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/composables/index.ts
  packages/analytics/analytics-chart/src/composables/useSparklineSync.ts
Owners: @Kong/team-data

fix(entities): skip validate before submit sni form (#2558)
  packages/entities/entities-snis/src/components/SniForm.cy.ts
  packages/entities/entities-snis/src/components/SniForm.vue
  packages/entities/entities-snis/src/snis-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-*): datakit - vault resources [KM-1666]
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/VaultSecretPicker.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useVaultForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorContent.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormVault.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/VaultField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/SidePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/index.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-vaults/src/components/VaultSecretPicker.vue
Owners: @Kong/team-km, @Kong/team-core-ui

refactor: reorganize vault form
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useVaultForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormVault.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: i18n
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/VaultField.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat: clear resources when it is empty
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: type error
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: skip empty vault node
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: add watch for propSecretName and update validation error
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/VaultSecretPicker.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: avoid empty config in code editor
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: simplify empty config check and handle resources in flow editor
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit - value indicator (#2543)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/ValueIndicator.vue
Owners: @Kong/team-km, @Kong/team-core-ui
