Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit - improve input fields [KM-1731]
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsMapField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsRecordField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/styles/tree-indent.scss
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix: always show time in tooltip timestamp
  packages/analytics/analytics-chart/src/utils/format-timestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/format-timestamps.ts
Owners: @Kong/team-data

fix: always show time in tooltip timestamp (#2486)
  packages/analytics/analytics-chart/src/utils/format-timestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/format-timestamps.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

docs(dashboard-renderer): update README for v2 schema
  packages/analytics/dashboard-renderer/README.md
Owners: @Kong/team-data

fix: support multiple thresholds per metric
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimeDatasets.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimedDatasets.spec.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-chart/src/types/explore-to-dataset-deps.ts
  packages/analytics/analytics-chart/src/utils/colors.ts
Owners: @Kong/team-data

docs(dashboard-renderer): update README for v2 schema (#2487)
  packages/analytics/dashboard-renderer/README.md
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: threshold as a plugin
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimeDatasets.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimedDatasets.spec.ts
  packages/analytics/analytics-chart/src/composables/useLineChartOptions.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chartjs-options.ts
Owners: @Kong/team-data

fix: add component test for plugin
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.cy.ts
Owners: @Kong/team-data

fix(*): redis partial terraform format [KM-1717]
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationConfigCard.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(*): bump kongponents version
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(*): bump kongponents version (#2489)
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: tests
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.cy.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(forms): scoped entities selected default value
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggestV2.cy.ts
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

feat(entities-plugins): move datakit debug setting into flow editor modal
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/shared/layout/StandardLayout.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix: underscore
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationConfigCard.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit - jq field help text [KM-1724]
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/shared/StringField.vue
  packages/entities/entities-plugins/src/external-links.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit - improve input fields [KM-1731]
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsMapField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsRecordField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/styles/tree-indent.scss
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit - jq field help text [KM-1724] (#2492)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/shared/StringField.vue
  packages/entities/entities-plugins/src/external-links.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): add unsupported nodes for preview
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/BranchIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/CachedIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add unsupported nodes for preview (#2493)
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/BranchIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/icons/CachedIcon.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): move datakit debug setting into flow editor modal (#2491)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/shared/layout/StandardLayout.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): ensure chart tooltip has unique label keys [MA-4145] (#2479)
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ChartTooltip.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(analytics): increase number of records exported for csv [MA-4298] (#2453)
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/CsvExportModal.cy.ts
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-utilities/src/constants.ts
  packages/analytics/analytics-utilities/src/types/index.ts
  packages/analytics/analytics-utilities/src/types/request-export.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
  packages/analytics/dashboard-renderer/src/composables/index.ts
  packages/analytics/dashboard-renderer/src/composables/useIssueQuery.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(sidenav): add collapse support [khcp-17790] (#2439)
  packages/core/app-layout/docs/sidebar.md
  packages/core/app-layout/fixtures/sidebar-items.ts
  packages/core/app-layout/package.json
  packages/core/app-layout/sandbox/pages/SidebarPage.vue
  packages/core/app-layout/src/components/AppLayout.vue
  packages/core/app-layout/src/components/sidebar/AppSidebar.cy.ts
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
  packages/core/app-layout/src/types/sidebar.ts
  pnpm-lock.yaml
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/core/app-layout/CHANGELOG.md
  packages/core/app-layout/package.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: update dashboard-renderer and dashboard schema
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
  packages/analytics/dashboard-renderer/sandbox/pages/RendererDemo.vue
Owners: @Kong/team-data

fix: remove test option
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/composables/useLineChartOptions.ts
Owners: @Kong/team-data

fix: address comments
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
Owners: @Kong/team-data

feat: threshold improvements (#2488)
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimeDatasets.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimedDatasets.spec.ts
  packages/analytics/analytics-chart/src/composables/useLineChartOptions.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-chart/src/types/chartjs-options.ts
  packages/analytics/analytics-chart/src/types/explore-to-dataset-deps.ts
  packages/analytics/analytics-chart/src/utils/colors.ts
  packages/analytics/analytics-utilities/src/dashboardSchema.v2.ts
  packages/analytics/dashboard-renderer/sandbox/pages/RendererDemo.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit - improve input fields [KM-1731] (#2463)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsMapField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsRecordField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/styles/tree-indent.scss
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit - jq textarea error message
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/shared/StringField.vue
Owners: @Kong/team-km, @Kong/team-core-ui
