Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix: add component test for no-select class
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
Owners: @Kong/team-data

fix: add component test for no-select class (#2474)
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: update tooltip timestamp format
  packages/analytics/analytics-chart/src/components/ZoomActions.vue
  packages/analytics/analytics-chart/src/components/ZoomTimerange.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ChartTooltip.vue
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/analytics-chart/src/composables/useLineChartOptions.ts
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
  packages/analytics/analytics-chart/src/utils/format-timestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/format-timestamps.ts
Owners: @Kong/team-data

fix: address comment
  packages/analytics/analytics-chart/src/utils/format-timestamps.ts
Owners: @Kong/team-data

fix: update tooltip timestamp format (#2467)
  packages/analytics/analytics-chart/src/components/ZoomActions.vue
  packages/analytics/analytics-chart/src/components/ZoomTimerange.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/ChartTooltip.vue
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/analytics-chart/src/composables/useLineChartOptions.ts
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
  packages/analytics/analytics-chart/src/utils/format-timestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/format-timestamps.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): improve datakit conflict modal copy
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit allow exit node in response phase
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): improve datakit conflict modal copy (#2475)
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit allow exit node in response phase (#2476)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit use examples in flow editor
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): tweak style and comments
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(expressions,entities-plugins): move monaco-editor to peerDependencies
  packages/core/expressions/package.json
  packages/entities/entities-plugins/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: remove union type from exportState prop
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

feat(entities-plugins): datakit use examples in flow editor (#2469)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

refactor: extract QueryDataProvider functionality into a composable
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-utilities/src/utils/index.ts
  packages/analytics/analytics-utilities/src/utils/requestExport.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
  packages/analytics/dashboard-renderer/src/composables/index.ts
  packages/analytics/dashboard-renderer/src/composables/useIssueQuery.ts
Owners: @Kong/team-data

fix: update exportState when exporting csv
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: lint
  packages/analytics/dashboard-renderer/src/composables/useIssueQuery.ts
Owners: @Kong/team-data

fix: remove no datasource check from queryFn test
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
Owners: @Kong/team-data

fix: deconstruct datasource from rest and update export type name
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-utilities/src/types/request-export.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/composables/useIssueQuery.ts
Owners: @Kong/team-data

fix: add data-testid to zoom-timerange from - to
  packages/analytics/analytics-chart/src/components/ZoomTimerange.vue
Owners: @Kong/team-data

fix: add data-testid to zoom-timerange from - to (#2478)
  packages/analytics/analytics-chart/src/components/ZoomTimerange.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): ensure chart tooltip has unique label keys [MA-4145]
  packages/analytics/analytics-chart/src/components/AnalyticsChart.cy.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/ChartTooltip.vue
Owners: @Kong/team-data

chore(*): bump kongponents
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(*): bump kongponents (#2480)
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit - enum field update event
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormProperty.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EnumField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit - enum field update event (#2483)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormProperty.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EnumField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(*): redis partial terraform format [KM-1717]
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationConfigCard.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(plugins-metadata): include plugin names and descriptions
  packages/entities/entities-plugins-metadata/src/index.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(*): remove space
  packages/entities/entities-plugins-metadata/src/index.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix(*): remove space
  packages/entities/entities-plugins-metadata/src/index.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(plugins-metadata): include plugin names and descriptions (#2485)
  packages/entities/entities-plugins-metadata/src/index.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins-icon/CHANGELOG.md
  packages/entities/entities-plugins-icon/package.json
  packages/entities/entities-plugins-metadata/CHANGELOG.md
  packages/entities/entities-plugins-metadata/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(expressions,entities-plugins): move monaco-editor to peerDependencies (#2477)
  packages/core/expressions/package.json
  packages/entities/entities-plugins/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe
