Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

fix(entities-plugins): datakit - remove unecessary connection confirm
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit - jq textarea error message (#2494)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  packages/entities/entities-plugins/src/components/free-form/shared/StringField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit - remove unecessary connection confirm (#2495)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit - confirmation history ops
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix datakit node field order
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix datakit node field order (#2497)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): hide __ui_data in config view while editing
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): use destructing instead
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): hide __ui_data in config view while editing (#2498)
  packages/entities/entities-plugins/src/components/PluginForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit - confirmation history ops (#2496)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit field order should cover pure config
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

Update packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit field order should cover pure config (#2499)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: type import
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: remove console
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit commit on replacing edge via node form
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(*): redis partial terraform format [KM-1717] (#2484)
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationConfigCard.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.cy.ts
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit commit on replacing edge via node form (#2500)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/CHANGELOG.md
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/CHANGELOG.md
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/CHANGELOG.md
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/CHANGELOG.md
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/CHANGELOG.md
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/CHANGELOG.md
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km, @LukeSwierlik, @QueaT-kong

fix(forms): show `-` for name with value `-`
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggestV2.cy.ts
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

fix(forms): remove data contamination
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

feat(sidebar): add badge slot [khcp-17791]
  packages/core/app-layout/sandbox/pages/SidebarPage.vue
  packages/core/app-layout/src/components/AppLayout.vue
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
  packages/core/app-layout/src/components/sidebar/SidebarItem.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: classname
  packages/core/app-layout/src/components/sidebar/SidebarItem.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: test coverage
  packages/core/app-layout/src/components/sidebar/AppSidebar.cy.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: badge styles
  packages/core/app-layout/sandbox/pages/SidebarPage.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

feat(forms): use em dash `—` as the label placeholder instead of hyphen
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggestV2.cy.ts
  packages/core/forms/src/const.ts
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

chore(entity-shared): add policy section in base config card
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore: add title
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardDisplay.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
  packages/entities/entities-shared/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit incorrect fitView calls on DND and duplicate
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): unnecessary expose
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(forms): scoped entities selected default value (#2490)
  packages/core/forms/src/components/fields/FieldAutoSuggestV2.vue
  packages/core/forms/src/components/fields/__tests__/FieldAutoSuggestV2.cy.ts
  packages/core/forms/src/const.ts
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

chore(release): publish [skip ci]
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @LukeSwierlik, @QueaT-kong

fix(entities-plugins): datakit - rewrite history ops of confirmation
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe
