Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

docs(app-layout): update readme [KHCP-18175]
  packages/core/app-layout/README.md
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: use assertions
  packages/analytics/analytics-utilities/src/timeframes.ts
  packages/analytics/analytics-utilities/src/types/explore/common.ts
Owners: @Kong/team-data

feat(app-layout): new badge component [KHCP-18175] (#2577)
  packages/core/app-layout/README.md
  packages/core/app-layout/src/components/gradientBadge/GradientBadge.vue
  packages/core/app-layout/src/index.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/app-layout/CHANGELOG.md
  packages/core/app-layout/package.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: type of timeframe key
  packages/analytics/analytics-utilities/src/timeframes.ts
  packages/analytics/analytics-utilities/src/types/timeframe-options.ts
Owners: @Kong/team-data

feat(analytics): add more timeframe options (#2565)
  packages/analytics/analytics-utilities/src/timeframes.ts
  packages/analytics/analytics-utilities/src/types/timeframe-keys.ts
  packages/analytics/analytics-utilities/src/types/timeframe-options.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore: feature flag cleanup
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/dashboard-renderer/src/components/BaseAnalyticsChartRenderer.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

chore: feature flag cleanup (#2578)
  packages/analytics/analytics-chart/src/components/chart-types/TimeSeriesChart.vue
  packages/analytics/dashboard-renderer/src/components/BaseAnalyticsChartRenderer.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): datakit bottom-up auto layout
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): datakit bottom-up auto layout (#2555)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities): skip validate before submit upstream/target/plugin form (#2563)
  packages/entities/entities-plugins/src/components/PluginForm.cy.ts
  packages/entities/entities-plugins/src/components/PluginForm.vue
  packages/entities/entities-plugins/src/plugins-endpoints.ts
  packages/entities/entities-upstreams-targets/src/components/TargetForm.vue
  packages/entities/entities-upstreams-targets/src/components/UpstreamsForm.cy.ts
  packages/entities/entities-upstreams-targets/src/components/UpstreamsForm.vue
  packages/entities/entities-upstreams-targets/src/targets-endpoints.ts
  packages/entities/entities-upstreams-targets/src/types/upstreams-form.ts
  packages/entities/entities-upstreams-targets/src/upstreams-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: increase the CSV export limit to 1000 [MA-4360] (#2537)
  packages/analytics/analytics-utilities/src/constants.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics-utilities): update timestamp formatter [MA-4392]
  packages/analytics/analytics-utilities/src/format.spec.tz.ts
  packages/analytics/analytics-utilities/src/format.ts
Owners: @Kong/team-data

chore(deps): bump kongponents
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics-utilities): update timestamp formatter [MA-4392] (#2579)
  packages/analytics/analytics-utilities/src/format.spec.tz.ts
  packages/analytics/analytics-utilities/src/format.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: add new api to set form data, wip
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/PropertiesField.vue
  packages/entities/entities-plugins/src/components/free-form/RequestCallout/CalloutForm.vue
  packages/entities/entities-plugins/src/components/free-form/RequestCallout/CalloutsForm.vue
  packages/entities/entities-plugins/src/components/free-form/ServiceProtection/RedisField.vue
  packages/entities/entities-plugins/src/components/free-form/ServiceProtection/RequestLimitsForm.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-*): datakit - resources cache [KM-1859]
  packages/core/forms/src/components/RedisConfigSelect.vue
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useResourcesSchema.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/VaultField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/components/free-form/shared/RedisSelector.vue
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-plugins/vite.config.ts
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationFormModal.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationSelector.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationSelector.ts
  packages/entities/entities-redis-configurations/src/index.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/partials-endpoints.ts
  pnpm-lock.yaml
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationSelector.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: size limit
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-redis-configurations/vite.config.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

fix: lock
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx

feat: add cache node support for datakit (#2573)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCache.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/shared.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-vaults): mask token and app role seceret id fields in vault detail page
  packages/entities/entities-vaults/src/components/VaultConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat: echarts spike
  packages/analytics/analytics-echarts/LICENSE
  packages/analytics/analytics-echarts/README.md
  packages/analytics/analytics-echarts/package.json
  packages/analytics/analytics-echarts/sandbox/App.vue
  packages/analytics/analytics-echarts/sandbox/index.html
  packages/analytics/analytics-echarts/sandbox/index.ts
  packages/analytics/analytics-echarts/sandbox/tsconfig.json
  packages/analytics/analytics-echarts/src/components/AnalyticsEcharts.cy.ts
  packages/analytics/analytics-echarts/src/components/AnalyticsEcharts.spec.ts
  packages/analytics/analytics-echarts/src/components/AnalyticsEcharts.vue
  packages/analytics/analytics-echarts/src/composables/index.ts
  packages/analytics/analytics-echarts/src/composables/useExploreResultToEChartTimeseries.ts
  packages/analytics/analytics-echarts/src/composables/useI18n.ts
  packages/analytics/analytics-echarts/src/global-components.d.ts
  packages/analytics/analytics-echarts/src/index.ts
  packages/analytics/analytics-echarts/src/locales/en.json
  packages/analytics/analytics-echarts/src/types/index.ts
  packages/analytics/analytics-echarts/src/utils/colors.spec.ts
  packages/analytics/analytics-echarts/src/utils/colors.ts
  packages/analytics/analytics-echarts/src/utils/index.ts
  packages/analytics/analytics-echarts/tsconfig.build.json
  packages/analytics/analytics-echarts/tsconfig.json
  packages/analytics/analytics-echarts/vite.config.ts
  pnpm-lock.yaml
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: legend scale generation bug
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix: drop unrecognized countries when generating legend scales
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix: update unit test
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix: bump dist size error limit
  packages/analytics/analytics-geo-map/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: support link brushing for sparklines
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.ts
Owners: @Kong/team-data

test: add unit tests for VerticalLinePlugin
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.spec.ts
Owners: @Kong/team-data

test(*): fix component tests
  packages/entities/entities-consumer-groups/src/components/ConsumerGroupList.cy.ts
  packages/entities/entities-consumers/src/components/ConsumerList.cy.ts
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationList.cy.ts
  packages/entities/entities-snis/src/components/SniList.cy.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: support link brushing for sparklines
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.ts
Owners: @Kong/team-data

test: add unit tests for VerticalLinePlugin
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.spec.ts
Owners: @Kong/team-data

chore(deps): bump kongponents (#2580)
  package.json
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/dashboard-renderer/package.json
  packages/core/app-layout/package.json
  packages/core/documentation/package.json
  packages/core/entities-config-editor/package.json
  packages/core/expressions/package.json
  packages/core/forms/package.json
  packages/core/misc-widgets/package.json
  packages/core/sandbox-layout/package.json
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumer-groups/src/components/ConsumerGroupList.cy.ts
  packages/entities/entities-consumers/package.json
  packages/entities/entities-consumers/src/components/ConsumerList.cy.ts
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationList.cy.ts
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/package.json
  packages/entities/entities-snis/src/components/SniList.cy.ts
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/package.json
  packages/portal/document-viewer/package.json
  packages/portal/spec-renderer/package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe
