Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix: feedback
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-*): datakit - plugin detail page [KM-1464] (#2512)
  packages/entities/entities-plugins/src/components/PluginConfigCard.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/DatakitConfigCardCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/ConfigCardDisplay.vue
  packages/entities/entities-shared/src/components/entity-base-config-card/EntityBaseConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/CHANGELOG.md
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/CHANGELOG.md
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/CHANGELOG.md
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/CHANGELOG.md
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/CHANGELOG.md
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/CHANGELOG.md
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km, @LukeSwierlik, @QueaT-kong

fix(entities-plugins): datakit do not handle pending autoLayout and fitView in multiple places
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(entities-plugins): revert changes on curly braces
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit do not handle pending autoLayout and fitView in multiple places (#2510)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: analytics geo map empty state
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/locales/en.json
Owners: @Kong/team-data, @Kong/team-core-ui

feat: analytics geo map empty state (#2516)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/locales/en.json
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(plugins): remove the size limit against exit transformer plugin
  packages/entities/entities-plugins/src/composables/useSchemas.ts
  packages/entities/entities-plugins/src/definitions/schemas/ExitTransformer.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/types/plugins/exit-transformer.d.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(plugins): remove the size limit against exit transformer plugin (#2518)
  packages/entities/entities-plugins/src/composables/useSchemas.ts
  packages/entities/entities-plugins/src/definitions/schemas/ExitTransformer.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/types/plugins/exit-transformer.d.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

test(analytics): add tests for country map name lookup
  packages/analytics/analytics-chart/src/composables/useExploreResultToDatasets.spec.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimedDatasets.spec.ts
  packages/analytics/analytics-utilities/src/utils/GeoLookup.spec.ts
Owners: @Kong/team-data

fix: pr feedback - type names
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.cy.ts
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/types/chart-types.ts
Owners: @Kong/team-data

feat: add tooltip interaction to sparkline
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
Owners: @Kong/team-data

feat: basic sparkline chart
  packages/analytics/analytics-chart/sandbox/index.ts
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.cy.ts
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/index.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.ts
Owners: @Kong/team-data

feat (analytics): basic sparkline chart (#2513)
  packages/analytics/analytics-chart/sandbox/index.ts
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.cy.ts
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/index.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chart-data.ts
  packages/analytics/analytics-chart/src/types/chart-types.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.ts
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(analytics): add country name lookup and swap for labels [MA-4083] (#2515)
  packages/analytics/analytics-chart/src/composables/useExploreResultToDatasets.spec.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToDatasets.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimeDatasets.ts
  packages/analytics/analytics-chart/src/composables/useExploreResultToTimedDatasets.spec.ts
  packages/analytics/analytics-utilities/src/utils/GeoLookup.spec.ts
  packages/analytics/analytics-utilities/src/utils/GeoLookup.ts
  packages/analytics/analytics-utilities/src/utils/index.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: jq playground
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/JqField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/JqPlaygroundModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormJq.vue
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

feat: ask ai
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/JqPlaygroundModal.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat: ai intergration
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/JqPlaygroundModal.vue
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

feat(entities-plugins): improve datakit source selector copy
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): remove unnecessary info prop
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): improve datakit source selector copy (#2520)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorMain.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(app-sidebar): mobile check [khcp-17790]
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: loop on condition
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix(app-sidebar): mobile check [khcp-17790] (#2521)
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/app-layout/CHANGELOG.md
  packages/core/app-layout/package.json
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): handle query errors more gracefully [MA-4332]
  packages/analytics/analytics-chart/src/index.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/index.ts
  packages/analytics/analytics-chart/src/types/query-error.ts
  packages/analytics/analytics-chart/src/utils/index.ts
  packages/analytics/analytics-chart/src/utils/queryError.spec.ts
  packages/analytics/analytics-chart/src/utils/queryError.ts
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
  packages/analytics/dashboard-renderer/src/locales/en.json
Owners: @Kong/team-data

feat(entities-plugins): [WIP] plugin config editor
  .prettierrc.json
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/sandbox/pages/PluginFormPage.vue
  packages/entities/entities-plugins/sandbox/pages/PluginListPage.vue
  packages/entities/entities-plugins/sandbox/pages/PluginSelectPage.vue
  packages/entities/entities-plugins/src/components/PluginConfigEditor.vue
  packages/entities/entities-plugins/src/components/PluginConfigEditorLoader.vue
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/components/PluginForm.vue
  packages/entities/entities-plugins/src/components/config-editor/PropertyPanel.vue
  packages/entities/entities-plugins/src/composables/index.ts
  packages/entities/entities-plugins/src/composables/usePluginConfigEditor.ts
  packages/entities/entities-plugins/src/definitions/metadata.ts
  packages/entities/entities-plugins/src/types/index.ts
  packages/entities/entities-plugins/src/types/plugin-config-editor.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/types/schema.ts
  packages/entities/entities-plugins/src/utils/index.ts
  packages/entities/entities-plugins/src/utils/plugin-config-editor.ts
  packages/entities/entities-plugins/src/utils/uuid.ts
  packages/entities/entities-plugins/vite.config.ts
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

wip
  packages/entities/entities-plugins/src/components/PluginConfigEditor.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore: rebase
  packages/entities/entities-plugins/src/components/PluginConfigEditor.vue
  packages/entities/entities-plugins/src/components/config-editor/PropertyPanel.vue
  packages/entities/entities-plugins/src/composables/usePluginConfigEditor.ts
  packages/entities/entities-plugins/src/types/plugin-config-editor.ts
  packages/entities/entities-plugins/src/utils/plugin-config-editor.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: sandbox
  packages/entities/entities-plugins/sandbox/index.ts
  packages/entities/entities-plugins/sandbox/pages/HomePage.vue
  packages/entities/entities-plugins/sandbox/pages/PluginConfigEditorPage.vue
  packages/entities/entities-plugins/src/components/PluginConfigEditor.vue
  packages/entities/entities-plugins/src/utils/plugin-config-editor.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: replace icon-variant for error state
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
Owners: @Kong/team-data

wip parse ast
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/PluginConfigEditor.vue
  packages/entities/entities-plugins/src/components/PluginForm.vue
  packages/entities/entities-plugins/src/composables/code-editor/useJSONCompletion.ts
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

fix(analytics): handle query errors more gracefully [MA-4332] (#2522)
  packages/analytics/analytics-chart/src/index.ts
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/index.ts
  packages/analytics/analytics-chart/src/types/query-error.ts
  packages/analytics/analytics-chart/src/utils/index.ts
  packages/analytics/analytics-chart/src/utils/queryError.spec.ts
  packages/analytics/analytics-chart/src/utils/queryError.ts
  packages/analytics/dashboard-renderer/src/components/QueryDataProvider.vue
  packages/analytics/dashboard-renderer/src/locales/en.json
Owners: @Kong/team-data
