Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix: vueuse
  packages/core/app-layout/package.json
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @adamdehaven, @jillztom

fix(entities-plugins): monaco import
  packages/entities/entities-vaults/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): monaco import
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix: undo bad change
  packages/entities/entities-vaults/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: ux tweaks (#2461)
  packages/analytics/analytics-chart/src/components/ZoomActions.vue
  packages/analytics/analytics-chart/src/components/ZoomTimerange.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): add a before-custom-tab-content slot (#2460)
  packages/entities/entities-plugins/src/components/PluginSelect.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-shared): add custom button text support to base form
  packages/entities/entities-shared/docs/entity-base-form.md
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.cy.ts
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix toggle node expanded
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): add empty confluent case
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix toggle node expanded (#2465)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: toggle logic
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: view requests kebab menu link behind FF
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

fix: view requests kebab menu link behind FF (#2468)
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): add empty confluent case (#2466)
  packages/entities/entities-plugins/src/utils/helper.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-shared): add custom button text support to base form (#2464)
  packages/entities/entities-shared/docs/entity-base-form.md
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.cy.ts
  packages/entities/entities-shared/src/components/entity-base-form/EntityBaseForm.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-upstreams-targets): edit state issue
  packages/entities/entities-upstreams-targets/src/components/TargetForm.vue
  packages/entities/entities-upstreams-targets/src/types/target-form.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/core/documentation/CHANGELOG.md
  packages/core/documentation/package.json
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-certificates/CHANGELOG.md
  packages/entities/entities-certificates/package.json
  packages/entities/entities-consumer-credentials/CHANGELOG.md
  packages/entities/entities-consumer-credentials/package.json
  packages/entities/entities-consumer-groups/CHANGELOG.md
  packages/entities/entities-consumer-groups/package.json
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-data-plane-nodes/CHANGELOG.md
  packages/entities/entities-data-plane-nodes/package.json
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-key-sets/CHANGELOG.md
  packages/entities/entities-key-sets/package.json
  packages/entities/entities-keys/CHANGELOG.md
  packages/entities/entities-keys/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
  packages/entities/entities-shared/CHANGELOG.md
  packages/entities/entities-shared/package.json
  packages/entities/entities-snis/CHANGELOG.md
  packages/entities/entities-snis/package.json
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km, @LukeSwierlik, @QueaT-kong

fix(redis-config): access undefined
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(redis-config): access undefined (#2471)
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-upstreams-targets): edit state issue (#2470)
  packages/entities/entities-upstreams-targets/src/components/TargetForm.vue
  packages/entities/entities-upstreams-targets/src/types/target-form.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-upstreams-targets/CHANGELOG.md
  packages/entities/entities-upstreams-targets/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): freeform - default card appearance for record array
  packages/entities/entities-plugins/fixtures/schemas/free-form-mocking.ts
  packages/entities/entities-plugins/src/components/free-form/RequestCallout/ConfigForm.vue
  packages/entities/entities-plugins/src/components/free-form/shared/ArrayField.vue
  packages/entities/entities-plugins/src/components/free-form/shared/ObjectField.vue
  packages/entities/entities-plugins/src/components/free-form/test/utils.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(analytics): increase number of records exported for csv [MA-4298]
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/constants.ts
Owners: @Kong/team-data

fix: default isloading to false
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: clean up imports and fix overloaded type
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: use synced time range to request export records
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: add export limit tooltip
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-chart/src/constants/index.ts
  packages/analytics/analytics-chart/src/locales/en.json
Owners: @Kong/team-data

fix: revert requestsExport method and limit to 250 records
  packages/analytics/analytics-chart/src/constants/index.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/constants.ts
Owners: @Kong/team-data

test(analytics): add context to ensure record limit is supplied to csv export
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
Owners: @Kong/team-data

fix: create request-export utility
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-chart/src/locales/en.json
  packages/analytics/analytics-chart/src/types/chart-export.ts
  packages/analytics/analytics-utilities/src/constants.ts
  packages/analytics/analytics-utilities/src/types/index.ts
  packages/analytics/analytics-utilities/src/types/request-export.ts
  packages/analytics/analytics-utilities/src/utils/index.ts
  packages/analytics/analytics-utilities/src/utils/requestExport.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: normalize exportState to remove ref props
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
Owners: @Kong/team-data

test: ensure component unmounts after each test and update props
  packages/analytics/analytics-chart/src/components/CsvExportModal.cy.ts
Owners: @Kong/team-data

fix: add injectKey to request export util
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-utilities/src/utils/requestExport.ts
Owners: @Kong/team-data

chore: clean up
  packages/analytics/analytics-chart/src/components/CsvExportModal.vue
  packages/analytics/analytics-chart/src/constants/index.ts
  packages/analytics/analytics-chart/src/types/chart-export.ts
  packages/analytics/analytics-utilities/src/utils/requestExport.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/constants.ts
Owners: @Kong/team-data
