Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix(entities-plugins): remove unnecessary mousedown handler
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat: enhance group node functionality with active state and drag-and-drop improvements
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): refactor branch group and dnd for simpler API surface
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchDrop.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-groups.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: empty partial
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix: cache init
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-vaults): simplify the implementation according to suggestion
  packages/entities/entities-vaults/src/components/VaultConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-vaults): mask token and app role seceret id fields in vault detail page (#2583)
  packages/entities/entities-vaults/src/components/VaultConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: dist size limit
  packages/entities/entities-plugins/package.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-vaults): mask api key field in vault detail page
  packages/entities/entities-vaults/src/components/VaultConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-vaults): mask api key field in vault detail page (#2587)
  packages/entities/entities-vaults/src/components/VaultConfigCard.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-vaults/CHANGELOG.md
  packages/entities/entities-vaults/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: redis tag display
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationSelector.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: redis tag display
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationSelector.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: pr feedback - cleanup when destroyed
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.ts
Owners: @Kong/team-data

feat (analytics): sparkline link brushing [MA-4442] (#2586)
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.spec.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: legend scale generation bug (#2585)
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): clean up layout signatures for non-existent groups
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): remove unused menu reference and clean up imports
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix branch group related undo/redo
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(analytics): don't always issue CSV export query [MA-4445]
  packages/analytics/analytics-utilities/src/types/query-bridge.ts
  packages/analytics/dashboard-renderer/src/components/DashboardRenderer.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

fix: metric and unit formatting
  packages/analytics/analytics-chart/src/components/chart-types/SingleValue.vue
  packages/analytics/analytics-chart/src/composables/useChartLegendValues.ts
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
  packages/analytics/analytics-chart/src/utils/constants.ts
  packages/analytics/analytics-chart/src/utils/formatUnit.ts
  packages/analytics/analytics-chart/src/utils/index.ts
  packages/analytics/analytics-chart/src/utils/stackedBarUtil.ts
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/components/MapTooltip.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
  packages/analytics/analytics-utilities/package.json
  packages/analytics/analytics-utilities/src/utils/formatUnit.spec.ts
  packages/analytics/analytics-utilities/src/utils/formatUnit.ts
  packages/analytics/analytics-utilities/src/utils/index.ts
  pnpm-lock.yaml
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(analytics): don't always issue CSV export query [MA-4445] (#2589)
  packages/analytics/analytics-utilities/src/types/query-bridge.ts
  packages/analytics/dashboard-renderer/src/components/DashboardRenderer.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: address comments
  packages/analytics/analytics-chart/src/components/chart-types/SingleValue.vue
  packages/analytics/analytics-chart/src/composables/useChartLegendValues.ts
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
  packages/analytics/analytics-chart/src/utils/stackedBarUtil.ts
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/composables/index.ts
  packages/analytics/analytics-geo-map/src/composables/useLegendScale.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useLegendScale.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricFormat.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricFormat.ts
  packages/analytics/analytics-utilities/src/utils/formatUnit.spec.ts
  packages/analytics/analytics-utilities/src/utils/formatUnit.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix(entities-plugins): update zod version and use safe extend
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

fix(entities-plugins): update zod version and use safe extend (#2590)
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: update dependencies and improve cache handling in flow editor
  packages/entities/entities-plugins/package.json
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/CacheField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/types/plugins/free-form.ts
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationFormModal.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationSelector.vue
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @Kong/team-km

feat(entities-shared): terraform block compatibility with event gateway entities
  packages/entities/entities-shared/src/components/common/TerraformCodeBlock.vue
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): improve drag and drop logic, simplify code
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchDrop.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: metric and unit formatting (#2588)
  packages/analytics/analytics-chart/src/components/chart-types/SingleValue.vue
  packages/analytics/analytics-chart/src/composables/useChartLegendValues.ts
  packages/analytics/analytics-chart/src/utils/commonOptions.ts
  packages/analytics/analytics-chart/src/utils/constants.ts
  packages/analytics/analytics-chart/src/utils/formatUnit.ts
  packages/analytics/analytics-chart/src/utils/index.ts
  packages/analytics/analytics-chart/src/utils/stackedBarUtil.ts
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/components/MapTooltip.vue
  packages/analytics/analytics-geo-map/src/composables/index.ts
  packages/analytics/analytics-geo-map/src/composables/useLegendScale.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useLegendScale.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricFormat.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricFormat.ts
  packages/analytics/analytics-utilities/package.json
  packages/analytics/analytics-utilities/src/utils/formatUnit.spec.ts
  packages/analytics/analytics-utilities/src/utils/formatUnit.ts
  packages/analytics/analytics-utilities/src/utils/index.ts
  pnpm-lock.yaml
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-config-store/CHANGELOG.md
  packages/analytics/analytics-config-store/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/analytics-metric-provider/CHANGELOG.md
  packages/analytics/analytics-metric-provider/package.json
  packages/analytics/analytics-utilities/CHANGELOG.md
  packages/analytics/analytics-utilities/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/portal-analytics-bridge/CHANGELOG.md
  packages/analytics/portal-analytics-bridge/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): reset layout on membership change and simplify history commit calls
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-groups.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): improve conflict edge handling logic for better connection cleanup
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/ConflictModal.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): rename drag-related functions for clarity and consistency
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchDrop.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): bounds->rect
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: add monaco-editor-ui package
  packages/core/monaco-editor-ui/LICENSE
  packages/core/monaco-editor-ui/README.md
  packages/core/monaco-editor-ui/package.json
  packages/core/monaco-editor-ui/sandbox/App.vue
  packages/core/monaco-editor-ui/sandbox/assets/GitHubs.json
  packages/core/monaco-editor-ui/sandbox/content.ts
  packages/core/monaco-editor-ui/sandbox/index.html
  packages/core/monaco-editor-ui/sandbox/index.ts
  packages/core/monaco-editor-ui/sandbox/tsconfig.json
  packages/core/monaco-editor-ui/src/components/MonacoEditor.cy.ts
  packages/core/monaco-editor-ui/src/components/MonacoEditor.spec.ts
  packages/core/monaco-editor-ui/src/components/MonacoEditor.vue
  packages/core/monaco-editor-ui/src/components/MonacoEditorEmptyState.vue
  packages/core/monaco-editor-ui/src/components/MonacoEditorToolbar.vue
  packages/core/monaco-editor-ui/src/components/ToolbarActionButton.vue
  packages/core/monaco-editor-ui/src/composables/index.ts
  packages/core/monaco-editor-ui/src/composables/useI18n.ts
  packages/core/monaco-editor-ui/src/composables/useMonacoEditor.ts
  packages/core/monaco-editor-ui/src/constants/index.ts
  packages/core/monaco-editor-ui/src/global-components.d.ts
  packages/core/monaco-editor-ui/src/index.ts
  packages/core/monaco-editor-ui/src/locales/en.json
  packages/core/monaco-editor-ui/src/types/actions.ts
  packages/core/monaco-editor-ui/src/types/index.ts
  packages/core/monaco-editor-ui/src/utils/actions/index.ts
  packages/core/monaco-editor-ui/tsconfig.build.json
  packages/core/monaco-editor-ui/tsconfig.json
  packages/core/monaco-editor-ui/vite.config.ts
  pnpm-lock.yaml
Owners: @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe
