Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

wip 2
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/CanvasGroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: move metric truncation into geo map component
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.cy.ts
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
Owners: @Kong/team-data, @Kong/team-core-ui

fix(analytics): keep consistent metric formatting for geo maps [MA-4125] (#2539)
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.cy.ts
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/dashboard-renderer/sandbox/pages/EditableDashboardDemo.vue
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: update legend styles
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/components/MapLegend.vue
  packages/analytics/analytics-geo-map/src/composables/index.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

fix: update legend styles (#2540)
  packages/analytics/analytics-geo-map/src/components/AnalyticsGeoMap.vue
  packages/analytics/analytics-geo-map/src/components/MapLegend.vue
  packages/analytics/analytics-geo-map/src/composables/index.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: threshold highlighting highlights things that start over a threshold
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/thresholdPlugin.spec.ts
Owners: @Kong/team-data

feat: threshold highlighting highlights things that start over a threshold (#2541)
  packages/analytics/analytics-chart/src/components/chart-plugins/ThresholdPlugin.ts
  packages/analytics/analytics-chart/src/components/chart-plugins/thresholdPlugin.spec.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-*): datakit - vault resources [KM-1666]
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/VaultSecretPicker.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useVaultForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/modal/EditorContent.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormVault.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/VaultField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/ResourcesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/SidePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/index.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-vaults/src/components/VaultSecretPicker.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): hook datakit branch form into store serialization
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch member validation and conflicts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): integrate datakit branch groups into flow runtime
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): render datakit branch groups in flow canvas
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): polish datakit branch group node visuals
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): expose datakit branch handles and store actions
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): extract datakit branch group manager
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch node schema and UI scaffolding
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): persist datakit branch groups and UI data
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): extend datakit compat schema for branch nodes
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): prune datakit branch scaffolding
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): streamline datakit node dragging
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): default datakit branch form selections
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): streamline datakit branch store wiring
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): document and refine datakit branch flow
  NEXT_REFACTOR_STEPS.md
  RACE_CONDITION_ANALYSIS.md
  SIMPLICITY_REFACTOR.md
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit node visuals and badge styling
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodeBadge.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): extract datakit branch node form composable
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch conflict guards
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): clean datakit branch layout interactions
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): enhance datakit branch target multiselect
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): consolidate datakit branch helpers
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): make datakit branch handles read-only
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add datakit branch layout runtime
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: i18n
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/VaultField.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix: type error
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: skip empty vault node
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat: clear resources when it is empty
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/vault.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): fix node z-index calculation
  NEXT_REFACTOR_STEPS.md
  RACE_CONDITION_ANALYSIS.md
  SIMPLICITY_REFACTOR.md
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-km, @Kong/team-core-ui

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe
