Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

fix(analytics): exclude irrelevant filters for view requests [MA-4279]
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

fix(analytics): exclude irrelevant filters for view requests [MA-4279] (#2431)
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/composables/useContextLinks.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(forms,entities-plugins): fix rla view_advanced label, add testid
  packages/core/forms/src/components/forms/RLAForm.vue
  packages/core/forms/src/locales/en.json
  packages/entities/entities-plugins/src/components/free-form/shared/AdvancedFields.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

fix(forms,entities-plugins): fix rla view_advanced label, add testid (#2433)
  packages/core/forms/src/components/forms/RLAForm.vue
  packages/core/forms/src/locales/en.json
  packages/entities/entities-plugins/src/components/free-form/shared/AdvancedFields.vue
Owners: @Kong/team-km, @Kong/team-core-ui, @LukeSwierlik, @QueaT-kong

chore(release): publish [skip ci]
  packages/core/expressions/CHANGELOG.md
  packages/core/expressions/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-routes/CHANGELOG.md
  packages/entities/entities-routes/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @LukeSwierlik, @QueaT-kong

fix(entities-plugins): datakit invalid connections contaminate history stack
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): adjust order
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): improve comments and simplify
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): commit watcher-triggered changes with * tag
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): handle only history checkpoint with * tag
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): revert some changes
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): comment
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): ts lint
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowPanels.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins-metadata): adjust the category of kafka consume plugin
  packages/entities/entities-plugins-metadata/src/index.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins-metadata): adjust the category of kafka consume plugin (#2434)
  packages/entities/entities-plugins-metadata/src/index.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins-icon/CHANGELOG.md
  packages/entities/entities-plugins-icon/package.json
  packages/entities/entities-plugins-metadata/CHANGELOG.md
  packages/entities/entities-plugins-metadata/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
  packages/entities/entities-redis-configurations/CHANGELOG.md
  packages/entities/entities-redis-configurations/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit invalid connections contaminate history stack (#2423)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(plugins): autofocus plugin filter on creation page
  packages/entities/entities-plugins/src/components/PluginSelect.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(plugins): autofocus plugin filter on creation page (#2435)
  packages/entities/entities-plugins/src/components/PluginSelect.vue
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): datakit minor improvements
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit minor improvements (#2436)
  packages/entities/entities-plugins/src/components/free-form/Datakit/CodeEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): improve fallback axes titles [MA-4286]
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
Owners: @Kong/team-data

fix(analytics): add vulnerability_count to locale entries [MA-4255]
  packages/analytics/analytics-chart/src/locales/en.json
Owners: @Kong/team-data

feat(sidenav): add collapse support [khcp-17790]
  packages/core/app-layout/sandbox/pages/SidebarPage.vue
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
  packages/core/app-layout/src/types/sidebar.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

feat: fullscreen mode for dashboards ma-4270
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/dashboard-renderer/sandbox/pages/RendererDemo.vue
  packages/analytics/dashboard-renderer/src/components/DashboardRenderer.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardRenderer.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/constants.ts
  packages/analytics/dashboard-renderer/src/locales/en.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(analytics): add vulnerability_count to locale entries [MA-4255] (#2438)
  packages/analytics/analytics-chart/src/locales/en.json
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat: fullscreen mode for dashboards ma-4270 (#2382)
  packages/analytics/dashboard-renderer/package.json
  packages/analytics/dashboard-renderer/sandbox/pages/RendererDemo.vue
  packages/analytics/dashboard-renderer/src/components/DashboardRenderer.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardRenderer.vue
  packages/analytics/dashboard-renderer/src/components/DashboardTile.cy.ts
  packages/analytics/dashboard-renderer/src/components/DashboardTile.vue
  packages/analytics/dashboard-renderer/src/constants.ts
  packages/analytics/dashboard-renderer/src/locales/en.json
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

test(sidebar): collapse
  packages/core/app-layout/fixtures/sidebar-items.ts
  packages/core/app-layout/src/components/sidebar/AppSidebar.cy.ts
  packages/core/app-layout/src/components/sidebar/AppSidebar.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: move props.chartOptions.metricAxesTitle above other conditions
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
Owners: @Kong/team-data

fix(analytics): improve fallback axes titles [MA-4286] (#2437)
  packages/analytics/analytics-chart/src/components/AnalyticsChart.vue
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(app-layout): pass group config
  packages/core/app-layout/src/components/AppLayout.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: lint
  packages/core/app-layout/src/components/AppLayout.vue
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

fix: add brush layer
  packages/analytics/analytics-vega-lite-chart/src/utils/vega-lite-utils.ts
Owners: @Kong/team-data, @Kong/team-core-ui
