Repository Kong/public-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @Kong/team-data, @Kong/team-km, @LukeSwierlik, @QueaT-kong, @Kong/team-konnectx-platform-fe, @kaiarrowood, @mptap, @kongponents-bot, @Kong/team-konnectx-fe

refactor(entities-plugins): improve code readability
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
Owners: @Kong/team-km, @Kong/team-core-ui

docs(entities-plugins): add more comments for datakit useBranchLayout
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities): skip validate before submit consumer form
  packages/entities/entities-consumers/src/components/ConsumerForm.cy.ts
  packages/entities/entities-consumers/src/components/ConsumerForm.vue
  packages/entities/entities-consumers/src/consumers-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): update dimensions type to use Dimensions from @vue-flow/core
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities): skip validate before submit gateway service form
  packages/entities/entities-gateway-services/src/components/GatewayServiceForm.cy.ts
  packages/entities/entities-gateway-services/src/components/GatewayServiceForm.vue
  packages/entities/entities-gateway-services/src/gateway-services-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(composables): add event listener
  packages/entities/entities-plugins/src/components/free-form/shared/RedisSelector.vue
  packages/entities/entities-plugins/src/components/free-form/shared/composables.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: revert changes
  packages/entities/entities-plugins/src/components/free-form/shared/RedisSelector.vue
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities): skip validate before submit consumer form (#2569)
  packages/entities/entities-consumers/src/components/ConsumerForm.cy.ts
  packages/entities/entities-consumers/src/components/ConsumerForm.vue
  packages/entities/entities-consumers/src/consumers-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit disallow input-input connection
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-consumers/CHANGELOG.md
  packages/entities/entities-consumers/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities-plugins): return type
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): free form - add editor field [KM-1863]
  packages/entities/entities-plugins/fixtures/schemas/free-form-mocking.ts
  packages/entities/entities-plugins/sandbox/pages/FreeFormPage.vue
  packages/entities/entities-plugins/src/components/free-form/RequestCallout/ConfigForm.vue
  packages/entities/entities-plugins/src/components/free-form/shared/EditorField.vue
  packages/entities/entities-plugins/src/components/free-form/shared/Field.vue
  packages/entities/entities-plugins/src/components/free-form/shared/JsonField.vue
  packages/entities/entities-plugins/src/components/free-form/test/utils.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix: feedback and doc
  packages/entities/entities-plugins/src/components/free-form/shared/EditorField.vue
  packages/entities/entities-plugins/src/components/free-form/test/utils.ts
Owners: @Kong/team-km, @Kong/team-core-ui

fix(entities-plugins): datakit disallow input-input connection (#2571)
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities): skip validate before submit gateway service form (#2570)
  packages/entities/entities-gateway-services/src/components/GatewayServiceForm.cy.ts
  packages/entities/entities-gateway-services/src/components/GatewayServiceForm.vue
  packages/entities/entities-gateway-services/src/gateway-services-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

refactor(entities-plugins): add visuals for implicit nodes, improve nodebadge
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodeBadge.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/ValueIndicator.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-gateway-services/CHANGELOG.md
  packages/entities/entities-gateway-services/package.json
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(entities-plugins): add branch node support for datakit flow editor (#2544)
  packages/entities/entities-plugins/src/components/free-form/Datakit/constants.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowCanvas.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/FlowEditor.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchLayout.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useBranchNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/composables/useNodeForm.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormBranch.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/FlowNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/GroupNode.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodeBadge.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/ValueIndicator.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node-visual.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/branch-group-manager.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/flow.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/graph.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/helpers.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/history.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/init.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/store.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/store/validation.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/components/free-form/shared/EnhancedInput.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): add cache node support with input/output validation
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePanelItem.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/node.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/side-panel/NodePanel.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/compat.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/shared.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/schema/strict.ts
  packages/entities/entities-plugins/src/components/free-form/Datakit/types.ts
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/entities/entities-plugins/CHANGELOG.md
  packages/entities/entities-plugins/package.json
Owners: @Kong/team-km, @Kong/team-core-ui, @kongponents-bot, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix(entities): skip validate before submit target form
  packages/entities/entities-upstreams-targets/src/components/TargetForm.vue
  packages/entities/entities-upstreams-targets/src/components/UpstreamsForm.cy.ts
  packages/entities/entities-upstreams-targets/src/components/UpstreamsForm.vue
  packages/entities/entities-upstreams-targets/src/targets-endpoints.ts
  packages/entities/entities-upstreams-targets/src/types/upstreams-form.ts
  packages/entities/entities-upstreams-targets/src/upstreams-endpoints.ts
Owners: @Kong/team-km, @Kong/team-core-ui

feat(entities-plugins): implement cache node form
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/InputsField.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCache.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node-forms/NodeFormCall.vue
  packages/entities/entities-plugins/src/components/free-form/Datakit/flow-editor/node/NodePropertiesPanel.vue
  packages/entities/entities-plugins/src/locales/en.json
Owners: @Kong/team-km, @Kong/team-core-ui

chore(vscode): use glob pattern for i18n paths
  .vscode/settings.json
Owners: @adamdehaven, @ValeryG, @jillztom

chore(vscode): add i18n-ally extension (#2559)
  .vscode/extensions.json
  .vscode/settings.json
Owners: @adamdehaven, @ValeryG, @jillztom

fix(geo-map): update how legend scales are generated
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/sandbox/CodeText.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

feat(misc-widgets): add new badge component [KHCP-18175]
  packages/core/misc-widgets/sandbox/App.vue
  packages/core/misc-widgets/sandbox/index.ts
  packages/core/misc-widgets/src/components/NewBadge.vue
  packages/core/misc-widgets/src/components/index.ts
  packages/core/misc-widgets/src/locales/en.json
Owners: @Kong/team-core-ui

feat: fully test sparkline data generation and fix discovered issues
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/composables/useSparklineSync.spec.ts
  packages/analytics/analytics-chart/src/composables/useSparklineSync.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.ts
Owners: @Kong/team-data

feat: support link brushing for sparklines
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/components/chart-plugins/VerticalLinePlugin.ts
Owners: @Kong/team-data

fix: minor fix
  packages/core/misc-widgets/src/components/NewBadge.vue
Owners: @Kong/team-core-ui

fix: stylelint:fix
  packages/core/misc-widgets/src/components/NewBadge.vue
Owners: @Kong/team-core-ui

fix(geo-map): update how legend scales are generated (#2574)
  packages/analytics/analytics-chart/sandbox/pages/TimeSeriesChartDemo.vue
  packages/analytics/analytics-geo-map/sandbox/App.vue
  packages/analytics/analytics-geo-map/sandbox/CodeText.vue
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.spec.ts
  packages/analytics/analytics-geo-map/src/composables/useMetricUtils.ts
Owners: @Kong/team-data, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/analytics-geo-map/CHANGELOG.md
  packages/analytics/analytics-geo-map/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

fix: typo
  packages/analytics/analytics-utilities/src/timeframes.ts
Owners: @Kong/team-data

fix: pr feedback - test unmount and empty datasets
  packages/analytics/analytics-chart/src/composables/useSparklineSync.spec.ts
  packages/analytics/analytics-chart/src/composables/useSparklineSync.ts
Owners: @Kong/team-data

feat (analytics): better sparkline management [MA-4441] (#2561)
  packages/analytics/analytics-chart/sandbox/pages/SparklineDemo.vue
  packages/analytics/analytics-chart/src/components/SparklineChart.vue
  packages/analytics/analytics-chart/src/composables/index.ts
  packages/analytics/analytics-chart/src/composables/useSparklineSync.spec.ts
  packages/analytics/analytics-chart/src/composables/useSparklineSync.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.spec.ts
  packages/analytics/analytics-chart/src/utils/bucketTimestamps.ts
Owners: @Kong/team-data

chore(release): publish [skip ci]
  packages/analytics/analytics-chart/CHANGELOG.md
  packages/analytics/analytics-chart/package.json
  packages/analytics/dashboard-renderer/CHANGELOG.md
  packages/analytics/dashboard-renderer/package.json
Owners: @Kong/team-data, @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-devx, @Kong/team-konnectx-platform-fe

feat(app-layout): new badge component [KHCP-18175]
  packages/core/app-layout/package.json
  packages/core/app-layout/src/components/newBadge/NewBadge.vue
  packages/core/app-layout/src/composables/index.ts
  packages/core/app-layout/src/composables/useI18n.ts
  packages/core/app-layout/src/index.ts
  packages/core/app-layout/src/locales/en.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @adamdehaven, @jillztom

fix: address pr feedback
  packages/core/app-layout/package.json
  packages/core/app-layout/src/components/gradientBadge/GradientBadge.vue
  packages/core/app-layout/src/composables/useI18n.ts
  packages/core/app-layout/src/index.ts
  packages/core/app-layout/src/locales/en.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @Kong/team-konnectx-fe, @Kong/team-data, @Kong/team-devx, @Kong/team-konnectx-platform-fe, @adamdehaven, @jillztom

fix: minor fix
  packages/core/app-layout/src/composables/index.ts
Owners: @adamdehaven, @jillztom, @Kong/team-core-ui

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx @Kong/team-core-ui
/packages/analytics/ @Kong/team-data @Kong/team-core-ui
/packages/entities/ @Kong/team-km @Kong/team-core-ui

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven @jillztom

# Core packages
/packages/core/app-layout/ @adamdehaven @jillztom @Kong/team-core-ui
/packages/core/error-boundary/ @adamdehaven @jillztom @ValeryG
/packages/core/copy-uuid/ @Kong/team-km @Kong/team-core-ui
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom @Kong/team-core-ui
/packages/core/misc-widgets/ @Kong/team-core-ui
/packages/core/forms/ @Kong/team-km @Kong/team-core-ui @LukeSwierlik @QueaT-kong
/packages/core/documentation/ @Kong/team-core-ui @Kong/team-konnectx-platform-fe @Kong/team-devx
/packages/core/entities-config-editor/ @Kong/team-km @Kong/team-core-ui
/packages/core/expressions/ @Kong/team-km @Kong/team-core-ui

# Portal packages
/packages/portal/document-viewer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-devx @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @kaiarrowood @mptap @Kong/team-devx

# Analytics packages
/packages/analytics/analytics-chart/ @Kong/team-data
/packages/analytics/analytics-config-store/ @Kong/team-data
/packages/analytics/analytics-metric-provider/ @Kong/team-data
/packages/analytics/analytics-utilities/ @Kong/team-data
/packages/analytics/dashboard-renderer/ @Kong/team-data
/packages/analytics/portal-analytics-bridge/ @Kong/team-data

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
/packages/*/*/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx
/package.json @kongponents-bot @Kong/team-core-ui @Kong/team-konnectx-fe @Kong/team-data @Kong/team-devx @Kong/team-konnectx-platform-fe
